<h1>Editar Información Mascota  - <%= mascotas.nombre %></h1>


<div class="row">
    <div class="col-sm-5">

        <form action="/Mascota/EditarMascota" method="post">

          <div class="form-group">
            <label >Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese su Nombre" name="nombre" value="<%= mascotas.nombre %>">
          </div>

          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" placeholder="Ingrese su Fecha de Nacimiento" name="fechaNacimiento" value="<%= mascotas.fechaNacimiento %>">
          </div>

          <div class="form-group">
            <label>Raza</label>
            <select class="form-control" name="idRaza">
              <% for(var i=0; i<razas.length; i++){ %>
              <option value='<%= razas[i].id %>'>
                <%= razas[i].nombre %>
              </option>
              <%  } %>
            </select>

          </div>

          <div class="form-group">
            <label>Pais de Nacimiento</label>
            <select class="form-control" name="paisNacimiento">
              <option value='Ecuador'>Ecuador</option>
              <option value='Colombia'>Colombia</option>
              <option value='Peru'>Perú</option>
            </select>

          </div>

          <input type="hidden" name="id" value="<%= mascotas.id %>">

          <button type="submit" class="btn btn-success">Editar Mascota</button>

        </form>

    </div>
    <div class="col-sm-2"></div>

    <div class="col-sm-5 text-center">

        <h2><%= mascotas.nombre%></h2>
        <h4><%= mascotas.fechaNacimiento%></h4>
      <h4><%= mascotas.paisNacimiento%></h4>
        <p>
            <%= mascotas.idRaza%>
        </p>

    </div>
</div>
